@{
    ViewData["Title"] = "About us";
}
<h1 style="margin-left: 5%;">@ViewData["Title"]</h1>

<div style="width:25%; margin: 0 5% 5% 5%; float:left">
    <div>
        <p>
            LAX Movies is a movie rating and award company and website. We specialise in wierd and other absurd titles and genres.
            We strive to make a good school project, and get an apprentiseship. so we can get some more industry experience, get workrelated contacts,
            earn more money, and in general, get our career going.
            We hope this project will help to prove to potential employers, that we are capable programmers, though not as designers.
        </p>
    </div>
    <div>
        <div style="box-sizing: border-box; padding: 40px; border-width: 5px; border-style: solid; background-color: lightyellow ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index" style="text-align:center;">Contact us</a>
        </div>
    </div>
</div>
<div style="margin-left:20px; float:left">
    <iframe width="840" height="630"
            src="https://www.youtube.com/embed/Q2c2mPpvcpw?autoplay=1&mute=1&loop=1&controls=0">
    </iframe>
</div>

