@{
    ViewData["Title"] = "Contact";
}
<div>
    <div style="margin:0 20px 0 5%;float:left; display:inline;">
        <h1>It support</h1>
        <img src="~/Images/ItSupport1.jpg" alt="my pic" height="200" width="200" style="border-width:5px; border-style:solid" />
        <!--<iframe width="300" height="200" style="border-width:5px; border-style:solid"
                src="https://www.youtube.com/embed/6CWqMAOHS4A?autoplay=1&mute=1&loop=1&controls=0">
        </iframe>-->
        <p style="width:300px;color: brown; background-color: azure;">Having problems with our it services, contact our it department at:</p>
        <p style="color: brown; background-color: azure;">Lax.Itsupport@LaxMovies.com</p>
    </div>

    <div style="margin: 0 20px; float: left; display: inline;">
        <h1>Customer support</h1>
        <img src="~/Images/CustomerSupport2.jpg" alt="my pic" height="200" width="200" style="border-width:5px; border-style:solid" />
        <!--<iframe width="300" height="200" style="border-width:5px; border-style:solid"
                src="https://www.youtube.com/embed/UsP_2IGx1aU?autoplay=1&mute=1&loop=1&controls=0">
        </iframe>-->
        <p style="width:300px;color: brown; background-color: azure;">Have a question about the company, or our website, contact our customer support at:</p>
        <p style="color: brown; background-color: azure;">Lax.CustomerSupport@LaxMovies.com</p>
    </div>

    <div style="margin: 0 20px; float: left; display: inline;">
        <h1>Now hiring!</h1>
        <img src="~/Images/JobAvailable1.jpg" alt="my pic" height="200" width="200"style="border-width:5px; border-style:solid" />
        <!--<iframe width="300" height="200" style="border-width:5px; border-style:solid;"
                src="https://www.youtube.com/embed/e5NANrVnqLc?autoplay=1&mute=1&loop=1&controls=0">
        </iframe>-->
        <p style="width:300px;color: brown; background-color: azure;">Looking to work at LAX? See our available job offers:</p>
        <p style="color: brown; background-color: azure;">INSERT LINK TO JOB</p>
    </div>
    <div style="margin: 0 20px; float: left; display: inline;">
        <h1>Our company</h1>
        <iframe width="300" height="200" style="border-width:5px; border-style:solid;"
                src="https://www.youtube.com/embed/videoseries?list=PLlYGSmf4JE0uHnNrKNZsrIRSVwu0Tl_Mr&autoplay=1&mute=1&loop=1&controls=0">
        </iframe>
        <p style="width:300px;color: brown; background-color: azure;">Watch these videos from our different departments.</p>
    </div>
</div>
