@{
    ViewData["Title"] = "Home Page";
}

<div style="height:100%; width:100%;">
    <div style="float:left; box-sizing: border-box; height: 70%; width: 40%; padding: 5px 0px;margin:20px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
        <p>Latest titles</p>
    </div>
    <div style="float:right; box-sizing: border-box; height: 70%; width: 40%; padding: 5px 0px;margin:20px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
        <p>Top categories</p>
    </div>
</div>
<div style="height:100%; width:100%;">
    
    <div style="float:left; box-sizing: border-box; height: 430px; width: 40%;margin:20px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
        
        <div style="float:left; height: 40px; width: 100%; border-width: 0px 0px 5px 0px; border-style: solid;  background-color: palevioletred">
            <p>Id   Titles  Release date</p>
        </div>

        <table class="table" style="clear:both">
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div style="float:right; box-sizing: border-box; height: 430px; width: 40%;margin:20px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
        
        <div style="float:left; height: 40px; width: 100%; border-width: 0px 0px 5px 0px; border-style: solid;  background-color: palevioletred">
            <p>Category/Rating</p>
        </div>

        <ul>
            <li>
                <p>Bedste svensksprogede film:</p>
            </li>
            <li>
                <p>Bedste kvindelige hovedrolle:</p>
            </li>
            <li>
                <p>Bedste lysmester:</p>
            </li>
            <li>
                <p>Bedste film at se baglæns:</p>
            </li>
            <li>
                <p>Bedste film om mejerihistorie:</p>
            </li>
            <li>
                <p>Bedste undertekster:</p>
            </li>
            <li>
                <p>Bedste film uden skuespillere:</p>
            </li>
            <li>
                <p>Bedste komediefilm:</p>
            </li>
            <li>
                <p>Bedste tonefilm:</p>
            </li>
        </ul>
    </div>
</div>
