@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="margin-left:5%">@ViewData["Title"]</h1>

<ul style="margin-left:5%">
    <li>LAX does not take any responsibility, for anyone using this or other sites, programs etc.</li>
    <li>LAX does not save any information on you, as we are too incompetent for that for the time being. This may change in the future.</li>
    <li>LAX does not give monetary, digital, physical, or any other benefits, rewards, awards etc.</li>
    <li>LAX does not represent an actual company.</li>
    <li>LAX is not copyrighted by the creators of this website, at original creation.</li>
    <li>The LAX website, has no affiliation with any airports. Except one of it's creators visits some at regular interval.</li>
    <li></li>
    <li></li>
</ul>
