@{
    ViewData["Title"] = "Job offers";
}
<h1 class="text-center">HR Administrator</h1>
<div>
    <div>
        <h2 style="margin-bottom: 20px;">The Company</h2>
        <p style="margin-bottom: 20px;">
            LAX is one of the world’s leading Movie lists. It exists purely to provide moviedata in the top echelon
            of movie enthusiasts, where it has been winning awards for more than two decades. The LAX name
            has been synonymous with top-level Movie lists since the 2000s.
        </p>
    </div>
    <div>
        <h1 style="margin-bottom: 20px;">The Position</h1>
        <p style="margin-bottom: 20px;">
            This is a fast-paced role that requires the right candidate to have strong organisational skills,
            the ability to communicate at all levels with excellent attention to detail. You will have a background
            in HR administration with a proven knowledge of core HR transactional processes and payroll processing, including data input and systems management.
        </p>
    </div>
    <div>
        <h2 style="margin-bottom: 10px;">Role Purpose</h2>
        <p style="margin-bottom: 10px;">Key responsibilities will include owning the payroll administration for the business,
        maintaining the HR email inboxes and working closely with the HR Business Partners to ensure data accuracy across the HR files and systems.</p>
        <p style="margin-bottom: 10px;">In this role you will act as a first point of contact for payroll and data queries,
        therefore you should be a proven problem solver with a focus on customer service.</p>
    </div>
    <div>
        <h2>What we're looking for:</h2>
        <ul>
            <li>Strong organisational skills</li>
            <li>Significant experience of working with payroll</li>
            <li>Good attention to detail</li>
            <li>Excellent communication skills</li>
            <li>Proactive approach to problem solving</li>
            <li>Ideally CIPD level 3 qualified, or working towards</li>
        </ul>
    </div>
    <div>
        <h2 style="margin-bottom:10px;">What can LAX offer?</h2>
        <p>The LAX Group is based in Tilbury, Essex. We offer free onsite parking and a large walled fort to unwind during breaks.
        We are a short few hours’ from Stansted, our goto airport. We have an on-site gym which is free to use for all staff and contractors.
        We also have a subsidised restaurant on site.</p>
    </div>
</div>