@{
    ViewData["Title"] = "Job offers";
}
<h1 class="text-center" style="color:aliceblue;">@ViewData["Title"]</h1>
<div>
    <div style="margin:0 20px 0 5%;float:left; display:inline;width:300px">
        <div style="box-sizing:border-box; height:100px">
            <h3>Software Application Support Analyst</h3>
        </div>
        <img src="~/Images/SoftAppSupp.jpg" alt="my pic" height="200" width="200" style="border-width:5px; border-style:solid" />
        <p style="Height: 50px; width: 300px; color: brown; background-color: azure;">We're looking for capable programmers!</p>
        <div>
            <nav>
                <div  style="height:100%; width:300px;">
                    <div style="box-sizing: border-box; padding: 2% 4%;margin: 15px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="SoftAppSupp" style="text-align:center;">Read about the job!</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div style="margin:0 20px 0 5%;float:left; display:inline;width:300px">
        <div style="box-sizing:border-box; height:100px">
            <h3>HR Administrator</h3>
        </div>
        <img src="~/Images/HRAdministrator.jpg" alt="my pic" height="200" width="200" style="border-width:5px; border-style:solid" />
        <p style="Height: 50px; width: 300px; color: brown; background-color: azure;">We're looking for capable HR Administrators!</p>
        <div>
            <nav>
                <div style="height:100%; width:300px;">
                    <div style="box-sizing: border-box; padding: 2% 4%;margin: 15px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="HRAdministrator" style="text-align:center;">Read about the job!</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div style="margin:0 20px 0 5%;float:left; display:inline;width:300px">
        <div style="box-sizing:border-box; height:100px">
            <h3>Intern</h3>
        </div>
        <img src="~/Images/Intern.jpg" alt="my pic" height="200" width="200" style="border-width:5px; border-style:solid" />
        <p style="Height:50px;width:300px;color: brown; background-color: azure;">We're looking for interns to brew coffe.</p>
        <div>
            <nav>
                <div style="height:100%; width:300px;">
                    <div style="box-sizing: border-box; padding: 2% 4%;margin: 15px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Intern" style="text-align:center;">Read about the internship</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>