@{
    ViewData["Title"] = "Internship";
}
<h1 style="margin-left: 5%;">@ViewData["Title"]</h1>
<div>
    <h2>What we expect of you:</h2>
    <ul>
        <li>Good at brewing coffee.</li>
        <li>Cleaning up after the employees.</li>
        <li>Keep the kitchen clean.</li>
        <li>Do all the work the employees don't want to.</li>
        <li>To work for free.</li>
        <li>To put our needs above everything else.</li>
        <li></li>
    </ul>
</div>