@{
    ViewData["Title"] = "Job offers";
}
<h1 class="text-center">Software Application Support Analyst</h1>
<div>
    <div>
        <p style="margin-bottom: 20px;">
            We're supporting our clients as they adapt to a new world in the wake of COVID-19.
            We're now recruiting for roles which will help our clients to deliver vital services
            and to resume business wherever possible.
        </p>
    </div>
    <div>
        <h1 style="margin-bottom: 20px;">Help strengthen our Application Team as a Software Application Support Analyst in Moreton in Marsh</h1>
        <p style="margin-bottom: 20px;">
            Our business relies on multiple core varied software applications which underpin our business operations. These mission critical applications
            need to be expertly administered, adapted, maintained and supported in order to ensure business continuity and success. So that is where you will
            come in and manage the administration, support of these applications. You will likely specialise in one application but be expected to learn and
            cross train on others to provide reliance and higher utilisation of our team.
        </p>
        <p style="margin-bottom: 20px;">
            Our goal is to have industry leading efficient systems, to get there you will help suggest, track, manage
            the continuous improvement of our systems. Collecting feedback, prioritising and managing process changes, functional changes with internal
            teams and suppliers. Ensuring that our internal and external users are well supported, with excellent service levels and expert advice.
        </p>
    </div>
    <div>
        <h2 style="margin-bottom: 10px;">What you'll be doing:</h2>
        <ul>
            <li>Applications ownership: Taking technical ownership of one or more systems</li>
            <li>Logging and following up issues with 3rd party software suppliers</li>
            <li>Responding to support requests in a timely manner and meeting agree SLA's</li>
            <li>Data Management and Backup and Restore</li>
            <li>Carry out functional testing of any new software releases</li>
            <li>Production of user documentation as required</li>
            <li>Document any system administration activities to ensure smooth hand-over for absences, leavers or new starters</li>
            <li>Perform data management activities to improve data quality and remove duplication of data within systems</li>
            <li>Work with the BI & Analytics team to ensure reporting from the system is meeting business needs</li>
            <li>System Admin & Configuration</li>
            <li>
                New applications and Upgrades: As new applications are introduced or existing ones updated, you will
                work with project teams to assist with all areas of the project lifecycle as required - test software releases
                and work with users to carry out user acceptance testing. You will also build system documentation and user guides
                and contribute to building out the support plan for the application to prepare for handover to production
            </li>
        </ul>
    </div>
    <div>
        <h2>What we're looking for:</h2>
        <ul>
            <li>Broad technical expertise in supporting software applications</li>
            <li>Experience with Helpdesk/ticketing systems</li>
            <li>Database management</li>
            <li>Configuration of software applications</li>
            <li>Good experience with SQL querying and SQL server.</li>
            <li>2nd line support experience</li>
            <li>Expert user of MS Windows and Office</li>
            <li>Involvement in roll-out of applications to large (>100 users) userbases</li>
            <li>Software testing</li>
            <li>Ideally an understanding of ITIL support processes and standards</li>
            <li>
                Some applications may require the following technical skills - Crystal reports, power BI,
                Salesforce Apex and more. It is not expected that all will require these capabilities.
            </li>
            <li>Database (SQL) skills an advantage</li>
            <li>3rd party supplier liaison and management</li>
            <li>An awareness of software licencing agreements</li>
            <li>An awareness of how web system work, how they are developed and data structures.</li>
            <li>An awareness of how web systems are hosted (It Infrastructure, Cloud)</li>
            <li>A working knowledge of integration technologies, data structures (CSV, API's etc)</li>
            <li>Demonstrable experience in delivering effective 3rd line support for software applications and IT systems to internal and external clients</li>
            <li>Proven customer and relationship management skills</li>
            <li>Awareness and experience of operating to project management processes</li>
            <li>Good understanding of how software supports and enables business processes</li>
        </ul>
    </div>
    <div>
        <h2 style="margin-bottom:10px;">About LAX</h2>
        <p style="margin-bottom:10px;">LAX, a leading worldwide provider of technology enabled business services. We're supporting and improving the lives
        of millions of people every day and we can only do this with the right people in place, working towards a shared goal.
        We work across such a huge range of businesses and sectors, that you'll have the opportunity to grow and develop your career in any number of directions.</p>
    </div>
    <div>
        <h2 style="margin-bottom:10px;">What's in it for you?</h2>
        <ul>
            <li>A competitive salary.</li>
            <li>23 days' holiday (rising to 27) with the opportunity to buy extra leave</li>
            <li>The opportunity to take a paid day out of the office, volunteering for our charity partners or a cause of your choice</li>
            <li>
                Access to our Employee Network Groups, which represent every strand of diversity and allow colleagues to connect and learn
                from each other on an open, inclusive platform
            </li>
            <li>Company matched pension, a cycle2work scheme, 15 weeks' fully paid maternity, adoption and shared parental leave and plenty more</li>
        </ul>
    </div>
</div>